[Desktop Entry]
Type=Application
Name=Thunar File Manager
Keywords=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;
Comment=Browse the filesystem with the file manager
GenericName=File Manager
Exec=thunar
Icon=thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Core;GTK;FileTools;FileManager;
MimeType=inode/directory;
Actions=open-home;open-computer;open-trash;